@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola!</h1>
    <h2>Carga tu factura aquí:</h2>
    <form action="/">
        <input type="file" archive="" multiple accept=".zip/.xml"/>
    </form>
    
</div>
